<div class="w-64 bg-[#1a1a1b] text-white h-screen p-4 space-y-4 min-h-auto">
  <!-- Home & Popular -->
  <div>
    <h2 class="text-gray-400 text-sm font-semibold mb-2">FEEDS</h2>
    <ul class="space-y-2">
      <li>
          <span>
            <%= link_to 'Home' , '/', class: 'flex items-center space-x-2 p-2 rounded-lg hover:bg-[#272729]' %>
          </span>
      </li>
    </ul>
  </div>
</div>
